.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 20;
}
body {
  font-family: "Lato";
}
.section_title,
.article_title{
  font-family: "Raleway";
}
.inner {
  width: 1100px;
  margin: 0 auto;
}
.fa-bolt {
  padding: 15px 0;
  float: left;
}
.header_button {
  display: inline-block;
  background-color: #74cfae;
  font-size: 12px;
  padding: 14px 12px;
  color: #fff;
  float: right;
}
.header_button:hover {
  transition: all 0.3s;
  color: #333;
}
.theme {
  background-color: #f2f2f2;
  width: 100%;
  padding-top: 250px;
  padding-bottom: 250px;
}
.theme_title {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.theme_subtitle {
  font-size: 30px;
  color: #c0c0c0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section {
  background-color: #74cfae;
  width: 100%;
  padding-top: 50px;
}
.section_body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_title {
  text-align: center;
  font-size: 24px;
  color: #fff;
  width: 680px;
  margin-left: 220px;
}
.section_text {
  font-size: 20px;
  margin-top: 35px;
}
.article {
  background-color: #f2f2f2;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 70px;
}
.article_title {
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.article_main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 90px;
}
.article_img:hover {
  transition: all 0.3s;
  opacity: 1.0;
}
.article_img:nth-child(-n+3){
  padding-bottom: 80px;
}
.article_img {
  padding-left: 100px;
  opacity: 0.7;
  z-index: 10;
}
.article_img:nth-child(3n+1) {
  padding-left: 0;
}
.article_footer {
  display: flex;
  justify-content: center;
}
.article_text {
  font-size: 20px;
  margin-right: 90px;
  text-align: center;
  width: 567px;
}
.article_button {
  background-color: #74cfae;
  font-size: 12px;
  padding: 14px 20px;
  color: #fff;
  height: fit-content;
}
.article_button:hover {
  transition: all 0.3s;
  color: #333;
}
.skill {
  background-color: #4e4e4e;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 100px;
}
.skill_title {
  font-size: 24px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}
.skill_main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill_img {
  text-align: center;
  font-size: 16px;
  color: #fff;
  padding-left: 180px;
}
.skill_img:first-child {
  padding-left: 0px;
}
.nav {
  background-color: #f2f2f2;
  width: 100%;
  padding: 200px 0;
}
.nav_main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_icon {
  width: 185px;
  color: #74cfae;
  text-align: center;
  padding: 30px 0;
  cursor: pointer;
}
.nav_icon:hover {
  transition: all 0.3s;
  background-color: #fff;
}
.footer {
  background-color: #74cfae;
  width: 100%;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 25px;
}
.footer_text {
  color: #fff;
  font-size: 20px;
  float: right;
}