.skyblue {
  background-color: #74cfae;
}

.white {
  color: #fff;
}

.center {
  text-align: center;
}

.fullsize {
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 0;
  z-index: 20;
  background-color: #fff;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

img {
  vertical-align: bottom;
}

body {
  font-family: "Lato";
}

.section_title,
.article_title,
.theme_title
.skill_title {
  font-family: "Raleway";
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.fa-bolt {
  float: left;
}

a {
  text-decoration: none;
}

.article_main li a,
.nav_main a {
  display: block;
}

.button {
  font-size: 12px;
  color: #fff;
  transition-duration:  .3s;
}

.header_button {
  padding: 14px 12px;
  float: right;
  background-color: #74cfae;
}

.header_button:hover {
  color: #333;
}

.main {
  margin-top: 70px;
  z-index: 10;
}

.theme {
  background-color: #f2f2f2;
  padding: 250px 0;
}

.theme_title {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme_subtitle {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.section {
  padding-top: 50px;
}

.section_img {
  float: left;
  padding-left: 100px;
}

.section_right {
  width: 680px;
  float: right;
  padding-top: 30px;
}

.section_title {
  font-size: 24px;
}

.section_text {
  font-size: 20px;
  margin-top: 35px;
}

.article {
  background-color: #f2f2f2;
  width: 100%;
  padding: 60px 0 70px;
}

.article_title {
  font-size: 24px;
}

.article_main {
  margin-top: 40px;
}

.article_main li {
  float: left;
  margin: 80px 0 0 100px;
  opacity: 0.7;
  transition-duration: .3s;
}

.article_main li:hover {
  opacity: 1.0;
}

.article_main li:nth-child(-n+3) {
  margin-top: 0;
}

.article_main li:nth-child(3n+1) {
  margin-left: 0;
}

.article_footer {
  margin-top: 90px;
  display: inline-block;
}

.article_text {
  float: left;
  font-size: 20px;
  width: 567px;
}

.article_button {
  float: right;
  padding: 14px 20px;
  margin-left: 90px;
  background-color: #74cfae;
}

.article_button:hover {
  color: #333;
}

.skill {
  background-color: #4e4e4e;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 100px;
}

.skill_title {
  font-size: 24px;
}

.skill_main {
  margin-top: 70px;
}

.skill_main li {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  color: #fff;
  margin-left: 180px;
}

.skill_main li:first-child {
  margin: 0px;
}

.nav {
  background-color: #f2f2f2;
  padding: 200px 0;
}

.nav_main {
  text-align: center;
}

.nav_main {
  width: 740px;
  margin: 0 auto;
}

.nav_main li {
  float: left;
  padding: 30px 0;
  width: 185px;
  transition: .3s;
}

.nav_main li a {
  color: #74cfae;
}

.nav_main li:hover {
  background-color: #fff;
}

.footer {
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer_text {
  color: #fff;
  font-size: 20px;
  float: right;
}

.header nav {
  position: relative;
}

.span4 {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  position: absolute;
  right: 10px;
  z-index: 1000;
}

.header span {
  width: 20px;
  height: 1px;
  background-color: #ddd;
  position: absolute;
  right: 15px;
  z-index: 100;
}

.span1 {
  top: 10px;
}

.span2 {
  top: 17px;
}

.span3 {
  top: 24px;
}

@media screen and (min-width:768px) {
  .header nav {
    display: none;
  }
}

@media screen and (max-width:1199px) {
  .inner {
    width: 97%;
  }

  .section div {
    float: none;
  }

  .section {
    padding-bottom: 25px;
  }

  .section_right {
    width: 100%;
    padding-top: 0;
    margin-top: 20px;
  }

  .section_text {
    margin-top: 35px;
  }

  .section_img {
    padding-left: 0;
    text-align: center;
  }

  .article_main li {
    float: none;
    margin: 0;
  }
  .article_main li:nth-child(3n+1) {
    margin-top: 80px;
  }

  .article_footer {
    margin-top: 80px;
  }

  .article_text,.article_button{
    float: none;
  }

  .article_text {
    margin-bottom: 40px;
    width: 100%;
  }

  .article_button {
    margin-left: 0;
  }

  .skill_main li {
    margin: 88px 0 0;
    display: block;
  }

}

@media screen and (max-width: 767px) {
  .header a {
    display: none;
  }

  .theme {
    padding: 160px 0 130px;
  }

  .theme_title {
    font-size: 80px;
  }

  .article_main img {
    width: 100%;
  }

  .nav {
    padding: 0;
  } 

  .nav_main {
    width: 100%;
    padding-top: 50px;
  }

  .nav_main li {
    float: none;
    width: 100%;
  }

}